

# Clone a VM from a Template or existing running machine and customize
- name: clone template and customize
  vmware_guest:
    hostname: "{{ lookup('env', 'VMWARE_HOST')|default(providers.vcenter.hostname) }}"
    username: "{{ lookup('env', 'VMWARE_USER')|default(providers.vcenter.username) }}"
    password: "{{ lookup('env', 'VMWARE_PASSWORD')|default(providers.vcenter.password) }}"
    validate_certs: no
    datacenter: "{{ providers.vcenter.datacenter }}"
    cluster: "{{ providers.vcenter.cluster }}"
    resource_pool: "{{ providers.vcenter.resource_pool|default('') }}"
    name: "{{ item.name }}"
    template: "{{ item.template }}"
    snapshot_src: "{{ item.snapshot_src|default(omit) }}"
    linked_clone: "{{ item.linked_clone|default(omit) }}"
    customvalues: "{{ item.customvalues|default(omit) }}"
    state: poweredon
    wait_for_ip_address: yes
    disk: "{{ item.disk|default(omit) }}"
    hardware:
      memory_mb: "{{ item.memory }}"
      num_cpus: "{{ item.cpu }}"
      scsi: paravirtual
    networks: "{{ item.networks }}"
    customization:
      autologon: True
      orgname: Ansible
      fullname: Ansible
      # timezone 20 = Central Standard Time
      # For more info see https://msdn.microsoft.com/en-us/library/ms912391(v=winembedded.11).aspx[msdn.microsoft.com]
      timezone: 20
      password: Password!1
      dns_servers: "{{ item.dns_servers|default([]) }}"
      runonce:
      - powershell.exe -command "& $([scriptblock]::Create((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1'))) -ForceNewSSLCert -EnableCredSSP"
      #- powershell.exe Unblock-File C:\ConfigureRemotingForAnsible.ps1
      #- powershell.exe -ExecutionPolicy Unrestricted -File C:\ConfigureRemotingForAnsible.ps1 -ForceNewSSLCert -EnableCredSSP
      #- winrm set winrm/config/service/auth @{Basic="true"}
      #- winrm set winrm/config/service @{AllowUnencrypted="true"}
      #- winrm set winrm/config/client/auth @{CredSSP="true"}
      - winrm set winrm/config/service/auth @{CredSSP="true"}
      #- powershell.exe -command "& Invoke-WebRequest -Body @{'host_config_key'='{{ tower_callback.host_config_key|default(omit) }}'} -Method Post -Uri '{{ tower_callback.url|default(omit) }}'"
  async: 7200
  poll: 0
  register: deploy
  with_items: "{{ nodes }}"
  when: nodes is defined

- name: Wait for instance creation to complete
  async_status: jid="{{ item.ansible_job_id }}"
  register: instances
  until: instances.finished
  retries: 300
  delay: 10
  with_items: "{{ deploy.results }}"

- name: Waiting for servers to come online
  wait_for:
    host: "{{ item.networks[0].ip }}"
    port: 5986
    timeout: 600
  with_items: "{{ nodes }}"
  when: (instances | changed) and (nodes is defined)






