<html>
	<head>
		<title>CVX Config Mgt. Demo</title>
	</head>
	<body>
	
		<h1>CVX Config Mgt. Demo</h1>
		
		<h3>This is the servers IP address:</h3>
		<div>{{ ansible_host }}</div>
		
		<h3>This is the sites URL</h3>
		<div id="site_url">{{ inventory_hostname }}</div>
	
	</body>
	
</html>