if (select count(TABLE_NAME) from [{{ db_name }}].INFORMATION_SCHEMA.TABLES where TABLE_TYPE = 'BASE TABLE' and TABLE_NAME = 'dbcaudit_temp') = 0
BEGIN
  RAISERROR ('Did not find table dbcaudit_temp', 16, 1)
END
ELSE
BEGIN
  PRINT 'Found table dbcaudit_temp'
END