CREATE TABLE [{{ schema }}].[{{ table_name }}](
 [SN] [varchar](255) NOT NULL,
 [Type] [varchar](20) NOT NULL,
 [DB_SLA] [nvarchar](16) NULL,
 [DBC_Contact] [nvarchar](10) NULL,
 [RD] [varchar](16) NULL,
 [Ver] [varchar](35) NULL,
 [SQLSP] [varchar](35) NULL,
 [EDITION] [varchar](35) NOT NULL,
 [C3403A] [varchar](10) NULL,
 [C3364A] [varchar](10) NULL,
 [C3405A] [varchar](10) NULL,
 [C3412B] [varchar](10) NULL,
 [C3404A] [varchar](10) NULL,
 [C3413A] [varchar](10) NULL,
 [C3386A] [varchar](10) NULL,
 [C4539A] [varchar](10) NULL,
 [C4549A] [varchar](10) NULL,
 [C4554A] [varchar](10) NULL,
 [CA001A] [varchar](10) NULL,
 [C3412A] [varchar](10) NULL,
 [C3364B] [varchar](10) NULL,
 [C3371A] [varchar](10) NULL,
 [C3410A] [varchar](10) NULL,
 [C4547A] [varchar](10) NULL
) ON [PRIMARY]