---
- name: check openstack config file
  stat: path="{{ config_file }}"
  register: st
  delegate_to: 127.0.0.1

- name: include openstack details
  include_vars: "{{ config_file }}"
  when: st.stat.exists and st.stat.isreg

- name: remove intances
  os_server:
    state: absent
    #auth:
    #  auth_url: "{{ clouds.devstack.auth.auth_url | default(lookup('env', 'OS_AUTH_URL')) }}"
    #  username: "{{ clouds.devstack.auth.username | default(lookup('env', 'OS_USERNAME')) }}"
    #  password: "{{ clouds.devstack.auth.password | default(lookup('env', 'OS_PASSWORD')) }}"
    #  project_name: "{{ clouds.devstack.auth.project_name | default(lookup('env', 'OS_PROJECT_NAME')) }}"
    name: "{{ hostvars[inventory_hostname].openstack.name }}"
  delegate_to: 127.0.0.1
  with_items: "{{ nodes }}"
  when: (nodes is defined) and (hostvars[inventory_hostname].openstack.name is defined) and (item.name == hostvars[inventory_hostname].openstack.name)





