---
- name: install SQL 2016
  win_package:
    path: '{{ disk_image_out.mount_path }}setup.exe'
    product_id: '{0AE831BC-F2A8-4DE2-8FBF-68B220611A7F}'
    arguments:
      - /Q
      - /ACTION=Install
      - /IACCEPTSQLSERVERLICENSETERMS
      - /ENU
      - /UPDATEENABLED=false
      - /FEATURES=SQLENGINE,Conn
      - /INSTANCENAME=MSSQLSERVER
      - /SECURITYMODE=SQL
      - /SAPWD={{ mssql_password }}
      - /AGTSVCSTARTUPTYPE=automatic
      - /BROWSERSVCSTARTUPTYPE=automatic
      - /SQLSYSADMINACCOUNTS={{ mssql_username }}
      - /SQLBACKUPDIR=C:\Backup
      - /SQLUSERDBDIR=C:\Databases
      - /SQLUSERDBLOGDIR=C:\UserDatabases